/*BODY STYLES ****************************************************************************************************************************************/
body {

}
/* HEADER SECTION ****************************************************************************************************************************************/
header{

}
/* NAVIGATION SECTION ****************************************************************************************************************************************/
nav {

}
#home-link {
    background-color: #e5e9fc;
    color:black;
}  

/* MAIN SECTION ****************************************************************************************************************************************/


#intro {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  font-size:25px;
}

.row {
  display: flex;
}

.col {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px; 
  margin-top:0px;
  box-sizing: border-box;
  flex: 1 1 30%; /* Allow some flexibility for spacing */
  max-width: calc(33.333% - 20px); /* Ensure max width for each column, adjusting for margin */
  text-align: center;
}
.col img {
  width: 100%;
  border-radius: 10px;
}

.col h1 {
  font-size: 30px;
  color: #373684;
  margin: 10px;
}

.col p {
  font-size: 1em;
  color: #373684;
}

/* FOOTER SECTION **************************************************************************************************************************************/
footer {

}



/* MOBILE DEVICE STYLING RULES ***************************************************************************************************************************/
@media screen and (max-width: 1000px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .col {
        max-width: 100%; /* Adjust the width to be larger */
    }

    .col img {
        width: 100%; /* Ensure images take full width */
    }

}











