.window {

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: .125rem;
  flex-direction: column; 
  
  background-color: #d0d0d0;
  border: .25rem solid #808080;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  z-index: 20;
}

.window-body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%; /* Ensure it spans the full width of the parent window */
  height: 100%; /* Allow it to fill the available height */
  font-size: 1rem;
  overflow: auto;
  background-color: #ffffff;
  border: .25rem solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #eaeaea;
  border-bottom-color: #eaeaea;
}

.window.maximized {
  width: 100vw; 
  height: calc(100vh - 4.5rem); /* Subtract taskbar height (adjust 4.5rem as per your taskbar height) */
  position: fixed; /* Fixed position relative to viewport */
  z-index: 10; /* Ensure it appears above other elements */
}

.title-bar img {
  width: auto;
  height: 2rem;
  padding-left: .125em;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  background-color: #000080;
  color: white;
  padding: .25rem;

}
.title-bar span{
  font-family: 'W95FA', sans-serif;
  font-size: 1.75rem;
  text-align: left;
  padding-right: 1rem;
  padding-left: .5rem;
  
  
}

.title-bar-controls {
  display: flex;
}
.title-bar-controls button {
  background-color: #c0c0c0;
  border: .125em solid #808080;
  border-top-color: #eaeaea;
  border-left-color: #eaeaea;
  width: 1.75rem;
  height: 1.75rem;
  font-family: 'W95FA', sans-serif;
  font-size: 1.25rem; /* Adjust font size for symbols */
  font-weight:bold;
  margin:.124rem;

  display: flex; /* Use flexbox for the button content */
  justify-content: center; /* Center icon horizontally */
  align-items: center; /* Center icon vertically */

}
.title-bar-controls button:active {
  background-color: #d0d0d0;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #eaeaea;
  border-bottom-color: #eaeaea;
}

.toolbar {
  display: flex;
  background-color: #d0d0d0;
  padding: .20em;
  box-sizing: border-box;
}
.toolbar button {
  background-color: #d0d0d0;
  border: none;
  padding-left: .5em;
  padding-right: .5em;
  font-family: 'W95FA', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
}
.toolbar button:hover {
  background-color: #0b26b2;
  color: white;
}


@media (max-width: 1400px) {

}