#desktop-table {
  width: 100%;              
  height: 100%;             
  table-layout: fixed;
  padding: 1rem;
}

#desktop-table tr {
  display: flex;            
  width: 100%;              
  height: 20%;              
}

/* Icon styling */
#desktop-table td {
  position: relative; /* Parent element for positioning */
  overflow: visible; /* Allow child elements to overflow the parent */
  max-width: 13rem; /* Ensure icons don’t get too large */
  min-width: 3rem; /* Prevent icons from shrinking too small */
  display: flex;
  flex: 1; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#desktop-table td img {
  width: 100%; 
  height: auto;
  max-width: 6rem; 
  min-width: 2rem; 
  cursor: pointer;
}

#desktop-table td h2 { /* Title */
  font-size: 1.5rem; 
  font-weight: lighter;
  color: #ffffff;
  margin: 0;
  overflow: hidden; 
  text-overflow: ellipsis;
  max-width: 12rem; 
  height: 100%;
}

#desktop-table td p { /* Tooltip */
  position: absolute;
  visibility: hidden;
  background-color: rgb(254, 255, 218);
  bottom: 30%; /* Position the tooltip above the <td> */
  left: +70%; /* Center tooltip horizontally */
  border-width: 0.2rem;
  border-style: solid;
  border-color: black;
  color: #000000;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-family: 'W95FA', sans-serif;
  text-align: left; /* Align text to the left */
  white-space: nowrap; /* Prevent text wrapping */
  z-index: 10;
}

#desktop-table td img:hover ~ p {
  visibility: visible; /* Make the tooltip visible on image hover */
}




@media (max-width: 100px) {
  #desktop-table { 
    display: none;
  }
}