
#start-menu {
    display: none;
    position: absolute;
    bottom: 100%; 
    left: 0;
    background-color: #c0c0c0;
    border: 0.25rem solid #808080;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    width: 30rem;
    z-index: 1000; 
}
  
#start-menu ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

#start-menu li {
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

#start-menu li:hover {
  background-color: #0b26b2;
  color: #ffffff;
}

#start-menu {
  display: none;
}

#banner {
    background-color: #888888; 
    width: 4rem; 
    display: flex;
    justify-content: center; 
    position: relative;
}

#banner-text {
    color: white; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 3rem; 
    transform: rotate(-90deg); 
    white-space: nowrap; 
    position: absolute;
    bottom: 150px; 
    padding-left: 0.5rem;
}

#start-menu .submenu {
  display: none;
  position: absolute; /* Allow dynamic positioning */
  background-color: #c0c0c0;
  border: 0.25rem solid #808080;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  z-index: 1000;
  width: 15rem; /* Fixed width for testing */
  box-sizing: border-box;
}

/* Hover effect on the entire li */
#start-menu .submenu li:hover {
  background-color: #0b26b2; /* Match hover background color */
}

#start-menu .submenu li:hover a {
  color: white; /* Change text color to white on hover */
}

/* Style links in the submenu */
#start-menu .submenu a {
  text-decoration: none; /* Remove underline */
  display: block; /* Ensure the entire area is clickable */
  font-size: 2rem;
  color: black; /* Default color for links */
}

@media (max-width: 1400px) {
  /* Add responsive styles if needed */
}
