#taskContainer {
    display: flex; 
    align-items: center; 
    justify-content: start; /* Align tasks horizontally starting from the left */
    flex-grow: 1; /* Allow the container to grow and take available space */
    overflow: hidden; /* Prevent tasks from overflowing the container */
    height: 100%; /* Match the height of the taskbar */
}

  
.taskbar-entry {
    flex: 1 1 0; /* Equal space for all entries */
    display: flex;
    align-items: center;

    height: 3.5rem; 
    
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    margin-left: 0.25rem;

    font-size: 1.5rem;

    cursor: pointer;


    overflow: hidden;

    max-width: 12rem;
    min-width: 1rem; 

    background-color: #c0c0c0;
    border: 0.25rem solid #808080;
    border-top-color: #eaeaea;
    border-left-color: #eaeaea;
}

.taskbar-entry img {

    width: 1.75rem;
    height: 1.75rem;
    margin-right: 0.5rem;

}

.taskbar-entry span {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* adds the ... at the end of an abbreviated word */

}

  
.taskbar-entry:focus {
    outline: none; /* Remove default focus outline */
    background-color: #d0d0d0;
    border-top-color: #808080;
    border-left-color: #808080;
    border-right-color: #eaeaea;
    border-bottom-color: #eaeaea;
}
  
  .active-taskbar-entry {
    background-color: #d0d0d0;
    border-top-color: #808080;
    border-left-color: #808080;
    border-right-color: #eaeaea;
    border-bottom-color: #eaeaea;
  }

.taskbar-entry {
    height: 3.5rem; /* Uniform height for all elements */
    display: flex;
    align-items: center;
    box-sizing: border-box; /* Ensure padding and borders are included in the height */
} 
/* Active (clicked) state */
.taskbar-entry:active {
    background-color: #d0d0d0; /* Slightly darker background */
    border-top-color: #808080; /* Dark shadow on top */
    border-left-color: #808080;
    border-right-color: #eaeaea; /* Light highlight on right */
    border-bottom-color: #eaeaea;
}