#taskbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c0c0c0;

  border-top: 0.25rem solid #eaeaea;
  border-left: 0.25rem solid #eaeaea;
  border-right: 0.25rem solid #808080;
  border-bottom: 0.25rem solid #808080;

  height: 4.5rem;
  min-height: 2rem;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0; 
  padding: 0.12rem; 
}

#start-button {
  display: flex;
  align-items: center;
  padding-left: .75rem;
  padding-right: .5rem;
  margin-left: .25rem;

  background-color: #c0c0c0;
  border: 0.25rem solid #808080;
  border-top-color: #eaeaea;
  border-left-color: #eaeaea;

  cursor: pointer;

  font-size: 2.75rem; 
  text-shadow: none;

}
#start-button:active, #start-button.clicked {
  background-color: #d0d0d0;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #eaeaea;
  border-bottom-color: #eaeaea;
}
#start-button img {
  width: 3rem;
  height: auto; 

  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

#clock {
  display: flex;
  align-items: center;
  padding-left: .5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: .125rem;
  margin-left: .25rem;



  background-color: #c0c0c0;
  border: 0.25rem solid #808080;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #eaeaea;
  border-bottom-color: #eaeaea;
}
#clock span {
  display: inline-block; 
  width: 10rem; 
  height: 2.5rem; 
  line-height: 2.5rem;
  overflow: hidden; 
  font-size: 2rem; 

}


@media (max-width: 1400px) {

}

#taskContainer {
  display: flex;
  gap: 0.25rem;
  height: 100%; 
  padding-left: 0.25rem;
  box-sizing: border-box; 
  flex-grow: 1; 
  overflow: hidden;

}

.taskbar-entry {
  display:none;
  align-items: center;
  justify-content: flex-start; 
  height: 100%; 
  padding: 0 0.5rem; 

  font-size: 1.5rem; 
  color: #000000;
  cursor: pointer;
  white-space: nowrap; 
  overflow: hidden; 
  

  flex: 1 0 auto; 
  max-width: 12rem; 
  min-width: 6rem; 

  background-color: #c0c0c0;
  border: 0.25rem solid #808080;
  border-top-color: #eaeaea;
  border-left-color: #eaeaea;
}

.taskbar-entry img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem; 
  object-fit: contain; 
}

.taskbar-entry span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}


.taskbar-entry:hover {
  background-color: #d0d0d0;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #eaeaea;
  border-bottom-color: #eaeaea;
}

.active-taskbar-entry {
  background-color: #d0d0d0;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #eaeaea;
  border-bottom-color: #eaeaea;
}

