@font-face {
  font-family: 'W95FA';
  src: url('../Home_Assets/W95FA.otf') format('opentype'); 

}
* {
  font-family: 'W95FA', sans-serif; /* Apply Windows 95 font globally */
}
html, body {
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  overflow-x: hidden; /* Prevent horizontal scrollbars */
  width: 100%; /* Ensure the body doesn’t exceed the viewport */
  box-sizing: border-box; /* Include padding and border in width calculations */
}

* {
  box-sizing: inherit; /* Ensure all elements inherit box-sizing */
}

body {
  font-family: 'W95FA'; 

}

body {
  background-color: rgb(0, 128, 128);
}
main {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#vc {
  color: rgb(0, 128, 128);
  display: none;
}



@media (max-width: 750px) {



}



