#TemperatureConverter_Window .temperature-converter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#TemperatureConverter_Window .temperature-converter label {
  font-size: 1rem;
  font-weight: bold;
}

#TemperatureConverter_Window .temperature-converter input {
  width: 150px;
  padding: 5px;
  font-size: 1rem;
  text-align: center;
}

#TemperatureConverter_Window .arrow {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#TemperatureConverter_Window .window-body {
  align-items: center;
  flex-direction: column;
  background-color: #d0d0d0;
  color: rgb(0, 0, 0);
  padding: 15px;
  font-family: Arial, sans-serif;
  border: none;
}
