
body{
    
}

h1 {
    color: white;
    text-align: center;   
    justify-content: center; 
    padding-top: 20px;
}

h2 {
    text-align: center;
}


h3 {

}



.outerBlueWrapper {
    background-color: rgb(45, 153, 241);
    width: 1000px;
    height: 844px;
}

.innerYellowWrapper {
    background-color: rgb(249, 207, 69);
    width:1000px;
    height:1150px;
}


.contentWrapper {
    display: flex;
    width: 100%; /* Ensure the wrapper takes the full width of the parent */
}

.textSide, .imageSide {
    flex: 1; /* This will make both sides take up equal width */
}

.textSide {
    /* Additional styles for text side if needed */
    padding: 25px;
}

.imageSide img {
    width: 80%; /* Make the image fill the container */
    
    
}


.puzzleCanvas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* This spreads out the items evenly */
    align-items: center; /* This centers them vertically */
    border: 2px solid black; /* Adds a black border with a thickness of 2px */
    width: 850px; /* Adjust based on your layout */
    height: 800px; /* Adjust based on your layout */
    margin: 0 auto; /* Centers the puzzle canvas horizontally within its parent */
    background-color: white;
}


.draggable {
    position: absolute;
    cursor: grab; /* Shows a move cursor to indicate movability */
    transform: scale(0.25); /* Reduces size to 25% */
    transform-origin: top left; /* Ensures scaling doesn't displace the images too much */

}