body {
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */

    background-image: url('Assets/money.jpg');
    background-size: cover;
}

.title-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    width: 350px;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 10px; /* Add spacing between stacked elements */
}
.signal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; /* Space between traffic signal and message box */
}


/* Traffic Signal Styles */
.traffic-signal {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 5px;
    align-items: center;
    background-color: black;
    padding: 10px;
}
.message {
    background-color: white;
}


.signal {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
}

/* Active Signal States */
.signal.active {
    opacity: 1;
}

#signal-red.active {
    background-color: red;
}

#signal-yellow.active {
    background-color: yellow;
}

#signal-green.active {
    background-color: green;
}


#data-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    height: 200px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

#stats-box {
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    text-align: left;
    font-size: 16px;
}

#text-box {
    width: 225px;
    height:400px; 
    margin:10px;
}

h1{
    margin:0;

}

#title-1{
    text-decoration: line-through;
    font-size: 1.5em;
    color: white;
    
}

#title-2 {
    font-size: 1.75em;
    color: red;
}




#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 0px solid;
    background-color: #f5f2c9;
    width: 350px;
    margin: 0 auto; /* Center the container on the page */
    opacity: 93%;
    border-radius: 30px;
}

